<main id="main">

  <!-- ======= Header ======= -->
  <br><br><br><br>
    <section id="about" class="about">
      <div class="container">
        <div class="row no-gutters">
        	<%=image_tag('anjaly.jpg',class: "image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start")%>
          <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Welcome to Curly Belle</h3>
              <p>
                Hi there! My name is Anjaly, and I am the owner at Curly Belle.I launched Curly Belle in 2014 with a passion to create a one of a kind shopping experience. I had a strong desire to create a place where women of all ages, shapes, sizes and budgets could find their dream outfit
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-simple-smile"></i>
                    <span data-toggle="counter-up">1000+</span>
                    <p><strong>Happy Clients</strong> with hundred percentage satisfaction across India.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-document-folder"></i>
                    <span data-toggle="counter-up">100+</span>
                    <p><strong>Designs</strong> with success stories.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-clock-time"></i>
                    <span data-toggle="counter-up">6+</span>
                    <p><strong>Years of experience</strong> in womens fashion and clothing distribution.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-award"></i>
                    <span data-toggle="counter-up">5+</span>
                    <p><strong>Member</strong> Team for all the support.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    

    
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Our service offering which is unique and of great quality.</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <h4 class="title"><a href="">Fashion Designing</a></h4>
              <p class="description">Design clothes which are functional as well as aesthetically pleasing. Work within a wide range of materials, colors, patterns and styles.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <h4 class="title"><a href="">Embroidery Designing</a></h4>
              <p class="description">The art of working raised and ornamental designs in threads of silk, cotton, gold, silver, or other material, upon any woven fabric, leather, paper, etc., with a needle</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <h4 class="title"><a href="">Clothing Retail</a></h4>
              <p class="description">Buying clothes from manufacturers and selling them to customers</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <h4 class="title"><a href="">Masks </a></h4>
              <p class="description">Hand made beautiful masks can be distributed across regions.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Here we are posting only few of our products. For more details please visit @bellecurly instagram page.</p>
        </div>

        <div class="row">
          
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
            	<%=image_tag('portfolio/portfolio-1.jpg',class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>Design</h4>
                <p>Material</p>
              </div>
              <div class="portfolio-links">
                <a href="portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
            	<%=image_tag('portfolio/portfolio-2.jpg',class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>Design</h4>
                <p>Material</p>
              </div>
              <div class="portfolio-links">
                <a href="portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
            	<%=image_tag('portfolio/portfolio-3.jpg',class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>Design</h4>
                <p>Material</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <%=image_tag('portfolio/portfolio-4.jpg',class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>Design</h4>
                <p>Material</p>
              </div>
              <div class="portfolio-links">
                <a href="/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <%=image_tag('portfolio/portfolio-5.jpg',class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>Design</h4>
                <p>Material</p>
              </div>
              <div class="portfolio-links">
                <a href="portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <%=image_tag('portfolio/portfolio-6.jpg',class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>Design</h4>
                <p>Material</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <%=image_tag('portfolio/portfolio-7.jpg',class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>Design</h4>
                <p>Material</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <%=image_tag('portfolio/portfolio-8.jpg',class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>Design</h4>
                <p>Material</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
             <%=image_tag('portfolio/portfolio-9.jpg',class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>Design</h4>
                <p>Material</p>
              </div>
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Our valued customer's feedback is the measure of our success. We're honored to serve what may be the world's most discerning clientele.</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Curly Belle is my absolute favorite! They always have just what I am looking for at great prices! They have lightening fast shipping. And their customer service is impeccable! I shop here frequently and will continue doing so.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <%#=image_tag('testimonials/testimonials-1.jpg',class: "testimonial-img")%>
            <h3>Liya Benny</h3>
            <h4>Software Engineer</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I have been placing orders over the last year and have been very satisfied with the quality of the items I have received. Curly Belle have the perfect fit clothes.They provide great customer service to their customers. I highly recommend them!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <%#=image_tag('testimonials/testimonials-2.jpg',class: "testimonial-img")%>
            <h3>Liza Benny</h3>
            <h4>Nutrition</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
             I had a great Experience with Curly Belle. The selection is unique and beautiful and the customer service with Anjaly was Superb. Team Curly Belle are experienced,skilled and welcoming.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <%#=image_tag('testimonials/testimonials-3.jpg',class: "testimonial-img")%>
            <h3>Kunju Mary</h3>
            <h4>Student</h4>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>A woman’s wardrobe is her opportunity to stand out and make a lasting first impression. Launched in 2014, Curly Belle offers a wide range of apparel to fit any woman’s unique sense of style. Our clothing and accessories are carefully curated to provide our customers the latest fashions. To keep our customers in style we post new arrivals daily, as well as offer stylist picks to help any indecisive shoppers. Curly Belle is a fashionista’s best place to create the perfect wardrobe.

			Beyond helping you look your best, Curly Belle strives to make every purchase a positive experience. Our top priorities are excellent customer service, exceptionally quick order processing, ultra fast shipping times. We value your feedback, whether positive or constructive and we are continuously working to improve your experience.

			If you are a first-time visitor or long-standing customer, we hope you will be thrilled with every aspect of your Curly Belle shopping experience.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-4">
            <div class="contact-about">
              <h3>Curly Belle</h3>
              <p>Sells fashionable clothes and accessories or a special selection of other merchandise. any small, exclusive business offering customized service</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="info">
              <div>
                <i class="icofont-google-map"></i>
                <p>Thaliath<br>Bharananganam, Kottayam, Kerala, India</p>
              </div>

              <div>
                <p>instagram: @bellecurly</p>
              </div>

              <div>
                <i class="icofont-phone"></i>
                <p></p>
              </div>

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main>