<!DOCTYPE html>
<html>
  <head>
    <title>Curly Belle</title>
    <link rel="shortcut icon" href="<%= asset_path 'processed1.jpg' %>" type="image/png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>

  <body>
    <header id="header">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light" style="color: black;"><a href="#index"><span><%=image_tag('processed.jpg')%></span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#index">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>
  <div style="background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);position: relative;margin:0 auto;line-height: 1.4em;">
    <section id="hero" class="d-flex flex-column align-items-center justify-content-center">
    <h1>Curly Belle</h1>
    <h2>Shoping for Women</h2>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
    <%= yield %>
  </body>
</html>